# 06_backup_config.yml - Backup running configurations of all devices to files
---
- name: Backup running configurations from all devices
  hosts: all
  gather_facts: no
  become: yes
  tasks:
    - name: Gather running config from device
      ios_command:
        commands: show running-config
      register: running_cfg
    - name: Save running config to backup file
      copy:
        content: "{{ running_cfg.stdout[0] }}"
        dest: "backups/{{ inventory_hostname }}-running.txt"
      delegate_to: localhost
